.Salon-main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Salon-main .bg{
  position: relative;
  background-image: url("./salon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  width: 1200px;
  height: 100vh;
}

.Salon-main .area{
  position: absolute;
  height: 1000px;
  max-height: 100vh;
}

@media screen and (max-width: 690px) {
  .Salon-main .bg{
    width: 826px;
  }
}

@media (min-width: 640px) {
  nav.area ul {
    display: flex;
    padding: 0px;
  }

  nav.area ul .Point{
    position: static;
    width: 19%;
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  nav.area{
    width: 100%;
  }
  
  nav.area ul {
    flex-direction: column;
  }
}