button.Point{
    border: 1px solid #5d5d5d;
    color: #5d5d5d;
    background-color: transparent;
    width: 10em;
    height: 3em;
    border-radius: 20px;
    align-items: center;
    z-index: 2;
    font-size: .7rem;
    top: 28%;
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

button.Point:hover{
    background-color: #ff0100f8;
    color: #fff;
    border: none;
}

@media screen and (max-width: 690px) {
    button.Point{
        top: 187px;
    }
  }

@media screen and (max-width: 426px){
    nav.area ul{
        width: 100%;
        display: flex;
    }

    button.Point{
        position: initial;
        margin-top: 15px;
    }
}